.header{
    height: 8vh;
    background-color: black;
    display: flex;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin-right: 10vw;
}

.nav_item{
    color: white;
    margin: 10px;
}

.user_image{
    margin-left: 20vw;
    height: 60vh;
    aspect-ratio: 1/1;
    background-color: antiquewhite;
    border-radius: 10px;
}

.home_wrapper{
    width: 90vw;
    display: flex;
}

.greeting{
    color: #facc16;
}

.fio{
    color: white;
}

.description{
    max-width: 40vw;
    color: gray;
}

.contact_button{
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #facc16;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}